// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// main color palette
$purple: #6F3BE3;
$light-purple: #C4ACF9;
$black: #303030;
$dark-grey: #979797;
$light-grey: #F7F7F7;
$lighter-purple: #F9F7FE;

// color palette for the job tracking board
$yellow: #FFCB2E;
$orange: #FFC075;
$blue: #43C4E7;
$green: #73CCBB;
$red: #FBADAD;
