.container-dashboard {
 // display: flex;
}

.wrapper-dashboard {
 // width: 700px;
}

.wrapper-kpi {
  border-left: 0.1rem solid $light-grey;
  margin-left: 50px;

  div {
    border-radius: 10px;
  }
}

.header-dashboard {
 // display: flex;
 // justify-content: space-between;
}

.info-card {
 // display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 16px rgba(75, 75, 75, 0.3);


  p {
   // margin: 0;
   // padding: 0;
  }

}
