.container-dashboard {
 // display: flex;
}

.wrapper-dashboard {
 // width: 700px;
}

.wrapper-kpi {
  border-left: 0.1rem solid $light-grey;
  margin-left: 50px;

  div {
    border-radius: 10px;
  }
}

.header-dashboard {
 // display: flex;
 // justify-content: space-between;
}

.info-card {
 // display: flex;
  border-radius: 10px;
  box-shadow:  0 5px 10px rgba(0,0,0,.05), 0 4px 8px rgba(0,0,0,.02);


  p {
   // margin: 0;
   // padding: 0;
  }

}
