// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "resources";

// h5{
//   color: $purple;
// }

a {
  color: $purple;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 16px;
}
