.btn-search {
  border-radius: 18px !important;
  padding: 16px !important;
  font-family: $body-font !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.trix-text-field {
  background-color: #f7f7f7;
  height: 500px;
  overflow-y: auto;
}

.img-resource {
  height: 30px;
  width: 30px;
  border-radius: 6px;
}
