 <div class="m-2 align-self-center text-card d-flex flex-column">
            <% unless jobs.nil? %>
              <p data-edit-goal-target="description"><%= goal.description%></p>
              <p> To reach my goal, I need to send <span data-edit-goal-target="jobcount"><%= goal.job_target %></span> applications a month!</p>
            <% else %>
              <p>You currently have not set a goal!</p>
            <% end %>
</div>
