<div class="container container-kpi">

  <div class="row row-cols-2 g-4">
    <div class="col kpi-card py-4">
      <p class="kpi-title"> Applications left until goal reached </p>
      <div class="kpi-content">
        <div class="line"></div>
        <p class="kpi-number"> <%= @applications_left_to_reach_goal %></p>
      </div>
    </div>

    <div class="col kpi-card py-4">
      <p class="kpi-title">Applications sent this month</p>
      <div class="kpi-content">
        <div class="line"></div>
        <p class="kpi-number"> <%= @applications_total %></p>
      </div>
    </div>

    <div class="col kpi-card py-4">
      <p class="kpi-title"> Interviews done this month</p>
      <div class="kpi-content">
        <div class="line"></div>
        <p class="kpi-number"> <%= @interviews_total %></p>
      </div>
    </div>

    <div class="col kpi-card py-4">
        <p class="kpi-title"> Total resources published </p>
      <div class="kpi-content">
        <div class="line"></div>
        <p class="pr-3 kpi-number"> <%= @my_resources_total %></p>
      </div>
    </div>

    <div class="col kpi-card py-4">
        <p class="kpi-title"> Application to interview conversion </p>
      <div class="kpi-content">
        <div class="line"></div>
        <p class="kpi-number"> 15% </p>
      </div>
    </div>
  </div>

</div>
