<div class="container container-kpi">

  <div class="row row-cols-1 g-2">
    <div class="col kpi-card px-4 py-2">
      <p class="kpi-title"> Applications left until goal reached </p>
      <div class="kpi-content d-flex flex-row align-items-center justify-content-between">
        <div class="line"></div>
        <p class="kpi-number fw-bold"> <%= @applications_left_to_reach_goal %></p>
      </div>
    </div>

    <div class="col kpi-card px-4 py-2">
      <p class="kpi-title">Applications sent this month</p>
      <div class="kpi-content d-flex flex-row align-items-center justify-content-between">
        <div class="line"></div>
        <p class="kpi-number fw-bold"> <%= @applications_total %></p>
      </div>
    </div>

    <div class="col kpi-card px-4 py-2">
      <p class="kpi-title"> Interviews done this month</p>
      <div class="kpi-content d-flex flex-row align-items-center justify-content-between">
        <div class="line"></div>
        <p class="kpi-number fw-bold"> <%= @interviews_total %></p>
      </div>
    </div>

    <div class="col kpi-card px-4 py-2">
        <p class="kpi-title"> Total resources published </p>
      <div class="kpi-content d-flex flex-row align-items-center justify-content-between">
        <div class="line"></div>
        <p class="kpi-number fw-bold"> <%= @my_resources_total %></p>
      </div>
    </div>

    <div class="col kpi-card px-4 py-2">
        <p class="kpi-title"> Application to interview conversion </p>
      <div class="kpi-content d-flex flex-row align-items-center justify-content-between">
        <div class="line"></div>
        <p class="kpi-number fw-bold"> 15%</p>
      </div>
    </div>
  </div>

</div>
