<div class="container-homepage">

  <div class="header-homepage">
    <%= image_tag("TechCompass-logo.png", width: 283, height: 52, class: "mb-4") %>
    <h1 class="pb-2"> Your job search, <span data-controller="typed-js"></span></h1>
    <p class="mb-4">Our platform will take you from aspiring professional, to actual professional. <br>
    Let our app make your job search as easy and productive as possible.</p>
    <%= link_to 'Let\'s Get Started!', dashboard_path, class: "btn btn-md btn-primary" %>
  </div>

  <div class="image-homepage">
    <%= image_tag("image_home.png", width: 450, height: 570) %>
  </div>

</div>
