
<div class="container m-2 p-2">
  <%= form_tag resources_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a resource",
      input_html: { class: "m-2 p-2" }
    %>
    <%= submit_tag "Search", class: "btn btn-primary m-2 p-2" %>
  <% end %>
  <%= render 'shared/resources' %>
</div>
