
<div class="container m-2 p-2" data-controller="search-resources">
  <%= form_tag resources_path, method: :get, class: "", data: { search_resources_target: 'form' } do %>
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="input-group input-group-lg rounded-3">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "What are you looking for?",
            input_html: { class: "m-2 p-2 input-group-prepend" },
            data: { search_resources_target: 'input',
                    action: 'keyup->search-resources#update' }
          %>
          <%= submit_tag "Search", class: "input-group-text rounded-3 rounded-right bg-primary text-white fw-bold" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-9">
      <%= render 'shared/resources' %>
    </div>
  </div>
</div>
