
<div class="container">
  <%= form_tag resources_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a resource"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= render 'shared/resources' %>
</div>
