
<div class="container">
  <ul>
    <% @resources.each do |resource| %>
      <% if resource.user == current_user %>
        <li><%= link_to "#{resource.title} by #{resource.user.full_name}", resource_path(resource.id) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
