
<div class="container">
  <h2 class="text-center fw-bold my-5">My Published Resources</h2>
  <div class="row justify-content-center">
    <div class="col-9">
      <%= render 'shared/resources' %>
    </div>
  </div>
</div>
