.row > * {
  padding-left: 0 !important;
}

.box-resource {
  height: 160px;
  background-color: $lighter-purple;
  border-radius: 8px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

.box-resource-center-top {
  margin-left: 20px;
}

.box-resource-center-bottom {
  margin-left: 20px;
}

.resource-image{
  max-width: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius : 8px;
  border-bottom-left-radius : 8px;
}

.tag {
  border-radius: 8px;
}

#tag-level{
  margin-left: 10px;
}
