.box-resource {
  height: 160px;
  background-color: $lighter-purple;

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }


.resource-image{
  max-width: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius : 10px;
  border-bottom-left-radius : 10px;
}

.row > * {
  padding-left: 0 !important;
}

.box-resource{
  border-radius: 10px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#tag-level{
  margin-left: 10px;
}
