.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-container {
  display: block;
  border-right: 0.1rem solid $light-grey;
  height: 100vh;

  a {
    text-decoration: none;
    font-family: $headers-font;
    color: $dark-grey;
  }

  a:hover {
    color: $purple;
  }

  ul{
    list-style-type: none;
  }

}


.navbar-logo{
  margin-bottom: 70px;
}
