
.navbar-container {
  border-right: 0.1rem solid $light-grey;
  height: 100vh;

  a {
    text-decoration: none;
    font-family: $headers-font;
    color: $dark-grey;
  }

  a:hover {
    color: $purple;
  }

  ul{
    list-style-type: none;
    padding: 0 0 0 0;
  }

  li{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  img{
    fill: $dark-grey;
  }

}
