.img-topbar {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  align-self: center;
}

.user-info {
  align-self: center;

  .user-name {
    font-size: 16px;
  }
}
.img-topbar-credits {
  height: 16px;
  width: 16px;
}

.user-card {
  background-color: $lighter-purple;
  width: 220px;
}
